#hola{
    color: tomato;
    font-size: 1.5em;
}

p.hola2{
    color: rgb(12, 8, 221);
    font-size: 1.5em;
}
p.especial{
    color: #ff0000;
    font-size: 1.5em;
}


div p{
    color: #f04444;
    font-size: 1.5em;
}

div h2, div h3{
    color: #0f05a0;
    font-size: 1.5em;
}

*{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: black;
}


/* est es un comentario  */


/*
.pro{
    color: #f44444;
    font-size: 1.5em;
}
.pro{
    color: rgb(247, 12, 12);
    font-size: 1.5em;
}

*/



.pro{
    border-style:groove;
    border-color: #ff0000;
    border-radius: 15px; 
    border-width: 1rem;
    
}

#fondo{
    background-color: rgb(255, 0, 0) ;
    height: 200px ;
    background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/76B0/production/_105848303_gettyimages-996540050.jpg");
    background-size: 200px 200px cover;
    background-repeat: repeat-y;
    background-position: center bottom; 
   

}
